/* Design by Jehan Bihin (http://www.daaboo.net/) */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  background-color: #9999CC;
  font-size: 2em;
  padding: 0.2em 0.5em;
}
h2 {
  background-color: #eee;
  border-color: #999;
  border-style: solid;
  border-width: 1px 0;
  padding: 0.2em 0.6em;
  font-size: 1.4em;
}
#gbox_events, #gbox_slow-requests { font-size: 1.2em; margin: 15px; }
#events tr.E_ERROR td,
#events tr.E_CORE_ERROR td,
#events tr.E_PARSE td,
#events tr.E_COMPILE_ERROR td,
#events tr.E_USER_ERROR td,
#events tr.E_RECOVERABLE_ERROR td { background-color: #fbc; }
#events tr.E_WARNING td,
#events tr.E_CORE_WARNING td,
#events tr.E_COMPILE_WARNING td,
#events tr.E_USER_WARNING td { background-color: #fc8; }
#events tr.E_NOTICE td,
#events tr.E_USER_NOTICE td,
#events tr.E_STRICT td,
#events tr.E_DEPRECATED td,
#events tr.E_USER_DEPRECATED td { background-color: #ff8; }

#event #source { display: none; padding-top: 5px; padding-left: 5px; background-color: #ccc; }
#source_toggle { margin: 5px 0px; }
#event #stacktrace td { vertical-align: top; }
#event #stacktrace table tr.odd { background-color: #eee; }

#error_info { padding-top: 10px; padding-left: 10px; font-size: 1.5em; }
#error_info dt { float: left; width: 100px; font-weight: bold; }
#error_info dd { line-height: 20px; margin-left: 70px; }
