/* Design by Jehan Bihin (http://www.daaboo.net/) */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  background-color: #9999CC;
  font-size: 2em;
  padding: 0.2em 0.5em;
}
h2 {
  background-color: #eee;
  border-color: #999;
  border-style: solid;
  border-width: 1px 0;
  padding: 0.2em 0.6em;
  font-size: 1.4em;
}
table {
  margin: 1em 1em 1.6em;
  font-size: 1.2em;
  border-collapse: collapse;
}
table th {
  padding: 0 0.5em;
  text-align: left;
  border-bottom: 1px solid #999;
}
table td {
  padding: 0.2em 0.5em;
}
table#slow-request-list td { border-bottom: 1px solid #ccc; }
table#event-list td { border-bottom: 1px solid #999; }
table#slow-request-list tr.odd td { background-color: #eee; }
table#events tr.E_ERROR td,
table#events tr.E_CORE_ERROR td,
table#events tr.E_PARSE td,
table#events tr.E_COMPILE_ERROR td,
table#events tr.E_USER_ERROR td,
table#events tr.E_RECOVERABLE_ERROR td { background-color: #fbc; }
table#events tr.E_WARNING td,
table#events tr.E_CORE_WARNING td,
table#events tr.E_COMPILE_WARNING td,
table#events tr.E_USER_WARNING td { background-color: #fc8; }
table#events tr.E_NOTICE td,
table#events tr.E_USER_NOTICE td,
table#events tr.E_STRICT td,
table#events tr.E_DEPRECATED td,
table#events tr.E_USER_DEPRECATED td { background-color: #ff8; }