          <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
          <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
          <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
          <script src="js/jquery-ui-1.9.1.custom.min.js" type="text/javascript"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/apm.js" type="text/javascript"></script>
          <script type="text/javascript">
          if (window.location.hash != "") {
              $('#myTab > li > a[href="'+window.location.hash+'"]').tab('show');
          }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
