            <li class="active"><a href="apm.php#overview" data-toggle="tab">General overview</a></li>
            <li><a href="apm.php#faultyevents" data-toggle="tab">Requests with faulty events</a></li>
            <li><a href="apm.php#stats" data-toggle="tab">Stats</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="overview">
              <table id="requests"><tr><td></td></tr></table>
              <div id="requests-pager"></div>
            </div>
            <div class="tab-pane fade" id="faultyevents">
              <table id="events"><tr><td></td></tr></table>
              <div id="events-pager"></div>
            </div>
            <div class="tab-pane fade" id="stats">
              <table id="stats"><tr><td></td></tr></table>
              <div id="stats-pager"></div>
            </div>
          </div>
