            <li class="active"><a href="index.php#faultyevents" data-toggle="tab">Requests with faulty events</a></li>
            <li><a href="index.php#statistics" data-toggle="tab">Statistics</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="faultyevents">
              <table id="events"><tr><td></td></tr></table>
              <div id="events-pager"></div>
            </div>
            <div class="tab-pane fade" id="statistics">
              <table id="stats"><tr><td></td></tr></table>
              <div id="stats-pager"></div>
            </div>
          </div>
